# Data Science Bigdata Hadoop & Spark Project : Market Analysis in Banking Domain


<font size="5">Submitted By : <a href="https://www.linkedin.com/in/jay-shembekar-13b223146" >Jay Shembekar </a></font>


> ### Problem Statement

    A Portuguese banking institution, ran a marketing campaign to convince potential customers to invest in a bank term deposit scheme. 
    
    The marketing campaigns were based on phone calls. Often, the same customer was contacted more than once through phone, in order to assess if they would want to subscribe to the bank term deposit or not. Perform the marketing analysis of the data generated by this campaign.


> ### Dataset Description

<table>
  <tbody>
    <tr>
      <th>age</th>
      <td>numeric</td>
    </tr>
    <tr>
      <th>job</th>
      <td>type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')</td>
    </tr>
    <tr>
      <th>marital</th>
      <td>marital status (categorical: 'divorced', 'married', 'single', 'unknown'; note: 'divorced' means divorced or widowed)</td>
    </tr>
    <tr>
      <th>education</th>
      <td>(categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')</td>
    </tr>
    <tr>
      <th>default</th>
      <td>has credit in default? (categorical: 'no', 'yes', 'unknown')</td>
    </tr>
    <tr>
      <th>housing</th>
      <td>has housing loan? (categorical: 'no', 'yes', 'unknown')</td>
    </tr>
    <tr>
      <th>loan</th>
      <td>has a personal loan? (categorical: 'no', 'yes', 'unknown')</td>
    </tr>
    <tr>
      <th>contact</th>
      <td>contact communication type (categorical: 'cellular', 'telephone')</td>
    </tr>
    <tr>
      <th>month</th>
      <td>Month of last contact (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')</td>
    </tr>
    <tr>
      <th>day_of_week</th>
      <td>last contact day of the week (categorical: 'mon','tue','wed','thu','fri')</td>
    </tr>
    <tr>
      <th>duration</th>
      <td>last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (example, if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call “y” is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.</td>
    </tr>
    <tr>
      <th>campaign</th>
      <td>number of times a customer was contacted during the campaign (numeric, includes last contact)</td>
    </tr>
    <tr>
      <th>pdays</th>
      <td>number of days passed after the customer was last contacted from a previous campaign (numeric; 999 means customer was not previously contacted)</td>
    </tr>
    <tr>
      <th>previous</th>
      <td>number of times the customer was contacted prior to (or before) this campaign (numeric)</td>
    </tr>
    <tr>
      <th>poutcome</th>
      <td>outcome of the previous marketing campaign (categorical: 'failure', 'nonexistent', 'success')</td>
    </tr>
    <tr>
      <th>y</th>
      <td>has the customer subscribed a term deposit? (binary: 'yes', 'no')</td>
    </tr>
  </tbody>
</table>

<br>
<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>Analysis tasks to be done - :</b></p>

    The data size is huge and the marketing team wants below analysis-

1. Load data and create a Spark data frame
<br>
2. Give marketing success rate (No. of people subscribed / total no. of entries)
<br>
• Give marketing failure rate
<br>
3. Give the maximum, mean, and minimum age of the average targeted customer
<br>
4. Check the quality of customers by checking average balance, median balance of customers
<br>
5. Check if age matters in marketing subscription for deposit
<br>
6. Check if marital status mattered for a subscription to deposit
<br>
7. Check if age and marital status together mattered for a subscription to deposit scheme
<br>
8. Do feature engineering for the bank and find the right age effect on the campaign.
<br>
<br>

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>1. Load data and create a data frame</b></p>

In [1]:
val df = spark.read.format("csv").option("header","true").option("delimiter",";").load("banking.csv")

Intitializing Scala interpreter ...

Spark Web UI available at http://LAPTOP-0IHBCPRL:4042
SparkContext available as 'sc' (version = 3.1.1, master = local[*], app id = local-1614886141122)
SparkSession available as 'spark'

df: org.apache.spark.sql.DataFrame = [age: string, job: string ... 15 more fields]

In [2]:
df.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [3]:
df.printSchema

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>2. Success Rate</b></p>

In [4]:
val Total_Count = df.count().toDouble

Total_Count: Double = 45211.0

In [5]:
val Subscribed = df.filter($"y" === "yes").count().toDouble

Subscribed: Double = 5289.0

In [6]:
val Success_Rate = Subscribed/Total_Count

Success_Rate: Double = 0.11698480458295547

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>2.1 Failure Rate</b></p>

In [7]:
val Not_Subscribed = df.filter($"y" === "no").count().toDouble

Not_Subscribed: Double = 39922.0

In [8]:
val Failure_Rate = Not_Subscribed/Total_Count

Failure_Rate: Double = 0.8830151954170445

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>3. To find the minimum, maximum and average age of the people</b></p>

In [9]:
import org.apache.spark.sql.functions.{min, max, avg}

df.agg(max($"age"),min($"age"), avg($"age")).show()

+--------+--------+-----------------+
|max(age)|min(age)|         avg(age)|
+--------+--------+-----------------+
|      95|      18|40.93621021432837|
+--------+--------+-----------------+

import org.apache.spark.sql.functions.{min, max, avg}

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>4. To observe average balance, median balance of customers</b></p>

In [10]:
import org.apache.commons.math3.stat.descriptive

df.createOrReplaceTempView("sample")

val medBal = sql("SELECT avg(balance) as Average_Balance, percentile_approx(balance, 0.5) as Median_Balance FROM sample");

medBal.show()

+------------------+--------------+
|   Average_Balance|Median_Balance|
+------------------+--------------+
|1362.2720576850766|         448.0|
+------------------+--------------+

import org.apache.commons.math3.stat.descriptive
medBal: org.apache.spark.sql.DataFrame = [Average_Balance: double, Median_Balance: double]

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>5. To check if age matters in marketing subscription for deposit</b></p>

In [11]:
df.createOrReplaceTempView("banking")
sql("select Age, count(*) as Age_Count_with_Subscription from banking where y = 'yes' group by Age order by Age_Count_with_Subscription desc").show

+---+---------------------------+
|Age|Age_Count_with_Subscription|
+---+---------------------------+
| 32|                        221|
| 30|                        217|
| 33|                        210|
| 35|                        209|
| 31|                        206|
| 34|                        198|
| 36|                        195|
| 29|                        171|
| 37|                        170|
| 28|                        162|
| 38|                        144|
| 39|                        143|
| 27|                        141|
| 26|                        134|
| 41|                        120|
| 46|                        118|
| 40|                        116|
| 47|                        113|
| 25|                        113|
| 42|                        111|
+---+---------------------------+
only showing top 20 rows

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<font size = 3><strong>Observation :</strong></font>
<br>

- Age indeed matters. The age ranging from 30 to 36 shows most promise.
</div>

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>6. To check if marital status matters for a subscription to deposit</b></p>

In [12]:
sql("select Marital, count(*) as Count_of_Subscription from banking where y = 'yes' group by marital order by Count_of_Subscription desc").show

+--------+---------------------+
| Marital|Count_of_Subscription|
+--------+---------------------+
| married|                 2755|
|  single|                 1912|
|divorced|                  622|
+--------+---------------------+

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<font size = 3><strong>Observation :</strong></font>
<br>

- Married people subscribes the most.
</div>

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>7. To check if age and marital status together matters for a subscription to deposit scheme</b></p>

In [13]:
sql("select Age, Marital, count(*) as Count_of_Subscription from banking where y ='yes' group by age, marital order by Count_of_Subscription desc").show

+---+-------+---------------------+
|Age|Marital|Count_of_Subscription|
+---+-------+---------------------+
| 30| single|                  151|
| 28| single|                  138|
| 29| single|                  133|
| 32| single|                  124|
| 26| single|                  121|
| 34|married|                  118|
| 31| single|                  111|
| 27| single|                  110|
| 35|married|                  101|
| 36|married|                  100|
| 25| single|                   99|
| 37|married|                   98|
| 33|married|                   97|
| 33| single|                   97|
| 32|married|                   87|
| 39|married|                   87|
| 38|married|                   86|
| 35| single|                   84|
| 47|married|                   83|
| 46|married|                   80|
+---+-------+---------------------+
only showing top 20 rows

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<font size = 3><strong>Observation :</strong></font>
<br>

- Singles of age 26 - 32 have maximum subscriptions.
</div>

<p style="font-family:Arial; font-size:1.5em; color:brown;"><b>8. Feature engineering to find the right age effect on the campaign.</b></p>

In [14]:
// importing required libraries

import scala.reflect.runtime.universe
import org.apache.spark.SparkConf
import org.apache.spark.SparkContext 
import org.apache.spark.sql.DataFrame
import org.apache.spark.sql.SQLContext
import org.apache.spark.sql.functions.mean

import scala.reflect.runtime.universe
import org.apache.spark.SparkConf
import org.apache.spark.SparkContext
import org.apache.spark.sql.DataFrame
import org.apache.spark.sql.SQLContext
import org.apache.spark.sql.functions.mean

In [15]:
// grouping age

val ageRDD = spark.udf.register("ageRDD",(age:Int) => {
 if (age < 20)
 "Teen"
 else if (age > 20 && age <= 32)
 "Young"
 else if (age > 33 && age <= 55)
 "Middle Aged"
 else
 "Old"
 })

ageRDD: org.apache.spark.sql.expressions.UserDefinedFunction = SparkUserDefinedFunction($Lambda$4218/0x00000001016ed040@53caa2de,StringType,List(Some(class[value[0]: int])),Some(class[value[0]: string]),Some(ageRDD),true,true)

In [16]:
val banknewDF = df.withColumn("age",ageRDD(df("age")))
banknewDF.registerTempTable("bank_new")

banknewDF: org.apache.spark.sql.DataFrame = [age: string, job: string ... 15 more fields]

In [17]:
val age_target = spark.sql("select Age, count(*) as Count_of_Subscription from bank_new where y='yes' group by age order by Count_of_Subscription desc ").show()

+-----------+---------------------+
|        Age|Count_of_Subscription|
+-----------+---------------------+
|Middle Aged|                 2601|
|      Young|                 1539|
|        Old|                 1131|
|       Teen|                   18|
+-----------+---------------------+

age_target: Unit = ()

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<font size = 3><strong>Observation :</strong></font>
<br>

- Middle Aged people have the most number of subscriptions.
</div>

In [18]:
banknewDF.filter($"y" === "yes").groupBy("Age", "Marital").count().sort($"Count".desc).show()

+-----------+--------+-----+
|        Age| Marital|count|
+-----------+--------+-----+
|Middle Aged| married| 1613|
|      Young|  single| 1148|
|        Old| married|  794|
|Middle Aged|  single|  604|
|Middle Aged|divorced|  384|
|      Young| married|  348|
|        Old|divorced|  195|
|        Old|  single|  142|
|      Young|divorced|   43|
|       Teen|  single|   18|
+-----------+--------+-----+

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<font size = 3><strong>Observation :</strong></font>
<br>

- Middle Aged Married people have the most number of subscriptions.
<br>
- Young Singles are the second highest subscribers.
</div>